@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Perfect-Condensed";
  src: url('fonts/Perfect-Condensed.otf') format('opentype');
}


body {
  height: 100vh;
  color:#121420;
}
* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}


section {
  height: 100vh; 

  h1 {
      font-size: 5rem;
  }
}

/* ====================HEADER OVERLAY================= */

.overlay {
  background: #121420;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  /* Clip-path to create the masking effect */
  clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
  transition: clip-path 300ms ease-out;
}


svg {
  margin: 1em;
  fill: white;
}

.is-open {
  clip-path: circle(200% at 100% 100%);
  transition: clip-path 1.3s cubic-bezier(1, -0.01, .01, .99);
}




